@import "../../vars.css";

/* .mainPage {
    background-image: linear-gradient(to right, white, grey);
} */

.mainPage{
    padding: 20px;
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(191, 239, 191);
    height: 40px;
    border-radius: 15px;
}

.topBarLeftItems a img {
    height: 2em;
    margin: 10% 10% 10% 1em;
}

.topBarRightItems ul img {
    height: 2em;
    margin: 10% 1em 10% 10%;
}

.topBarTitle{
    height: 80%;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}

h1.text-center {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

table.table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table.table-striped thead {
    background-color: #007bff;
    color: transparent;
}

table.table-striped th,
table.table-striped td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table.table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.table-striped tbody tr:hover {
    background-color: #f1f1f1;
}

table.table-striped th {
    font-weight: bold;
}

table.table-striped td {
    font-size: 14px;
    color: #555;
}

table.table-striped td:last-child {
    color: #007bff;
}

@media (max-width: 768px) {
    table.table {
        width: 100%;
    }

    table.table-striped td,
    table.table-striped th {
        font-size: 12px;
        padding: 10px;
    }
}
